In [25]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [26]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2021-05-26 18:09:50,-46.6000,168.3333,40.84,84,57,11.72
1,1,Ushuaia,AR,2021-05-26 18:09:51,-54.8000,-68.3000,29.86,100,90,27.63
2,2,Moyale,KE,2021-05-26 18:09:51,3.5167,39.0584,68.43,62,87,4.25
3,3,Porto Novo,BJ,2021-05-26 18:09:51,6.4965,2.6036,82.85,78,49,8.48
4,4,Mildura,AU,2021-05-26 18:09:52,-34.2000,142.1500,50.27,71,15,7.94

In [27]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [28]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [29]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [30]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# This was the initial way we ran this: fig = gmaps.figure()
# here is a new way to run this to get a single map:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# Old Way: heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# New way uses list comprehension to negate the need for the for loop in the previous cell:
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Yet another way to define heat_layer:
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [35]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Porto Novo,BJ,2021-05-26 18:09:51,6.4965,2.6036,82.85,78,49,8.48
10,10,Tautira,PF,2021-05-26 18:09:54,-17.7333,-149.1500,80.62,76,29,8.43
11,11,Kapaa,US,2021-05-26 18:09:31,22.0752,-159.3190,78.78,84,40,8.84
13,13,Georgetown,MY,2021-05-26 18:08:48,5.4112,100.3354,83.89,82,20,7.07
14,14,Punta Cardon,VE,2021-05-26 18:09:55,11.6581,-70.2150,83.57,68,100,29.28
15,15,Puerto Ayora,EC,2021-05-26 18:09:55,-0.7393,-90.3518,82.36,88,29,7.00
16,16,Faanui,PF,2021-05-26 18:09:55,-16.4833,-151.7500,81.55,72,52,15.57
22,22,Alta Floresta,BR,2021-05-26 18:09:57,-9.8756,-56.0861,88.16,48,10,4.43
26,26,Hilo,US,2021-05-26 18:09:59,19.7297,-155.0900,78.24,76,75,0.00
29,29,Bengkulu,ID,2021-05-26 18:10:00,-3.8004,102.2655,77.83,83,100,4.21

In [36]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3      Porto Novo      BJ     82.85   6.4965    2.6036
10        Tautira      PF     80.62 -17.7333 -149.1500
11          Kapaa      US     78.78  22.0752 -159.3190
13     Georgetown      MY     83.89   5.4112  100.3354
14   Punta Cardon      VE     83.57  11.6581  -70.2150
15   Puerto Ayora      EC     82.36  -0.7393  -90.3518
16         Faanui      PF     81.55 -16.4833 -151.7500
22  Alta Floresta      BR     88.16  -9.8756  -56.0861
26           Hilo      US     78.24  19.7297 -155.0900
29       Bengkulu      ID     77.83  -3.8004  102.2655

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Porto Novo,BJ,82.85,6.4965,2.6036,Tour Eiffel Hotel Benin
10,Tautira,PF,80.62,-17.7333,-149.1500,Pension Oaoa
11,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Georgetown,MY,83.89,5.4112,100.3354,Cititel Penang
14,Punta Cardon,VE,83.57,11.6581,-70.2150,Bambuda hotel
15,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
16,Faanui,PF,81.55,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
22,Alta Floresta,BR,88.16,-9.8756,-56.0861,Floresta Amazonica Hotel
26,Hilo,US,78.24,19.7297,-155.0900,Hilo Hawaiian Hotel
29,Bengkulu,ID,77.83,-3.8004,102.2655,Grage Hotel Bengkulu

In [46]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))